<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="./vendor/autoload.php"
>
    <php>
        <!-- Specify your Teamwork API endpoint and token. -->
        <server name="BASE_URI" value="http://foo.teamwork.com" />
        <server name="API_TOKEN" value="@h_AAa9v_6_UZ-Vp%+%EZMTrko5T2@un" />
    </php>
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
