<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">
    <php>
        <!-- Specify your twitter OAuth credentials -->
        <server name="BASIC_USERNAME" value="" />
        <server name="BASIC_PASS" value="" />
    </php>
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
